################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GMUFFCommon/bin
/GMUFFCommon/obj
/GMUFFProcessor/bin
/GMUFFProcessor/obj
/GMUFloodForecastPortal/.vs
/GMUFloodForecastPortal/bin
/GMUFloodForecastPortal/obj
/GMUFloodForecastPortal/Properties/PublishProfiles/GMUFloodForecastPortal - Web Deploy.pubxml.user
/GMUFloodForecastPortal/GMUFloodForecastPortal.csproj.user
/Resources/jqwidgets-ver6.0.6.zip
/Resources/VIIRS_floodmap_Aug15_2018.zip
/Backup
/GMUFloodForecastService/TiffToKml.Net/bin
/GMUFloodForecastService/TiffToKml.Net/obj
/Examples
/packages
/GMUFloodForecastPortal/Properties/PublishProfiles/FolderProfile.pubxml.user


