################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Resources/VIIRS_floodmap_Aug15_2018.zip
