################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GMUFloodForecastPortal/.vs
/GMUFloodForecastPortal/bin
/GMUFloodForecastPortal/obj
/GMUFloodForecastPortal/Properties/PublishProfiles/GMUFloodForecastPortal - Web Deploy.pubxml.user
/GMUFloodForecastPortal/GMUFloodForecastPortal.csproj.user
/Resources/jqwidgets-ver6.0.6.zip
/Resources/VIIRS_floodmap_Aug15_2018.zip
/GMUFloodForecastService/TiffToKmlService/TiffToKml.Net/TiffToKml.Net/bin
/GMUFloodForecastService/TiffToKmlService/TiffToKml.Net/TiffToKml.Net/obj
/Examples
/packages
/GMUFloodForecastPortal/Properties/PublishProfiles/FolderProfile.pubxml.user


