@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Floods have played a prominent role of the human experience since the start of the agricultural revolution when the first permanent settlements were built along the riverbanks of Asia and Africa. </P>
<P>Since these natural events are so rare but cover such a large area, people tend to lose track of which lands were flooded.</P>
<p>Satellite-derived flood inundation maps produced in near-real time are invaluable to state or national agencies for disaster monitoring and relief efforts.</p>
<p>Floods and standing water mapping is also necessary for detecting deficiencies in existing flood control and for managing damage claims afterwards.</p>
