@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    MS 6C3, 4400 University Drive<br />
    Fairfax, VA 22030<br />
    United States of America<br />
    <abbr title="Phone">P:</abbr>
    +1 703-993-4736
</address>

<address>
    <strong>Email:</strong> <a href="dsun@gmu.edu">dsun@gmu.edu</a>
</address>
