@page

<script src="~/jqwidgets/jqxbuttons.js"><</script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/jqwidgets/jqxdatatable.js"></script>
<script src="~/jqwidgets/jqxsplitter.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxpanel.js"></script>
<script src="~/jqwidgets/jqxcalendar.js"></script>
<script src="~/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/jqxinput.js"></script>
<script src="~/jqwidgets/jqxcombobox.js"></script>
<script src="~/jqwidgets/jqxcheckbox.js"></script>
<script src="~/jqwidgets/jqxswitchbutton.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxradiobutton.js"></script>
<script src="~/jqwidgets/jqxwindow.js"></script>

@using jQWidgets.AspNetCore.Mvc.TagHelpers

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    List<object> panels = new List<object>()
    {
        "{size: '270px'}",
    };
}

<div class="mainContainer">
    <jqx-splitter resizable="false" height="100%" width="100%" panels="panels" split-bar-size="2">
        <jqx-splitter-panel>
            <!-- Left operation panel-->
            <jqx-tabs>
                <jqx-tab-panel>
                    <!-- View tab-->
                    <jqx-tab-panel-header>View</jqx-tab-panel-header>
                    <jqx-tab-panel-body>
                        <div class="nav-panel">
                            <div style="margin-top: 5px; margin-bottom:5px; margin-left: 10px">
                                <div style="float:left; margin-top: 2px">
                                    <jqx-radio-button id="viewStepHourly" checked="true" group-name="ViewStep">Hourly</jqx-radio-button>
                                </div>
                                <div style="float:left; margin-top: 2px; margin-left: 8px">
                                    <jqx-radio-button id="viewStepDaily" group-name="ViewStep">Daily</jqx-radio-button>
                                </div>
                                <div style="float:left; margin-top: 2px; margin-left: 8px">
                                    <jqx-radio-button id="viewStep5Day" group-name="ViewStep">5-Day</jqx-radio-button>
                                </div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>From</label>
                                <div>
                                    <div style="float:left; margin-top: 2px">
                                        <jqx-date-time-input id="viewFromDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now" instance="getAbsoluteFromDateTimeInstance()"></jqx-date-time-input>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <label style="margin-top: 10px">TO</label>
                                <div>
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now.AddMinutes(5)" instance="getAbsoluteToDateTimeInstance()"></jqx-date-time-input>
                                    </div>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Region</label>
                                <div>
                                    <jqx-drop-down-list width="200" height="25" instance="getViewRegionInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Products</label>
                                <div>
                                    <jqx-drop-down-list width="200" height="25" instance="getViewProductInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Transparency</label>
                                <div>
                                    <div style="float: left">
                                        <jqx-input width="50" height="25" value="24"></jqx-input>
                                    </div>
                                    <label style="float: left; margin-left: 5px; margin-top: 5px">%</label>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="applyselection">
                                <div style="float: left">
                                    <jqx-button id="apply_DateTimePeriod">Apply Time</jqx-button>
                                </div>
                                <div style="float: left; margin-left: 12px">
                                    <jqx-button id="apply_DateTimePeriodPre">Prev</jqx-button>
                                </div>
                                <div style="float: left; margin-left: 12px">
                                    <jqx-button id="apply_DateTimePeriodNext">Next</jqx-button>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <hr class="seperator" />
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Image Format</label>
                                <div>
                                    <jqx-drop-down-list width="100" height="25" instance="getImageTypeInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                        </div>
                    </jqx-tab-panel-body>
                </jqx-tab-panel>
                <jqx-tab-panel>
                    <!-- Download tab-->
                    <jqx-tab-panel-header>Download</jqx-tab-panel-header>
                    <jqx-tab-panel-body>
                        <div class="nav-panel">
                            <div>
                                <label>From</label>
                                <div>
                                    <div style="float:left; margin-top: 2px">
                                        <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now" on-change="viewFromDatetimeChange()"></jqx-date-time-input>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <label style="margin-top: 10px">TO</label>
                                <div>
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now.AddMinutes(5)" instance="getAbsoluteToDateTimeInstance()"></jqx-date-time-input>
                                    </div>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <hr class="seperator" />
                            <div class="applyselection">
                                <jqx-button id="apply_DateTimePeriod">Apply Date&Time Selection</jqx-button>
                            </div>
                        </div>
                    </jqx-tab-panel-body>
                </jqx-tab-panel>
            </jqx-tabs>
            <!-- Left bottom informational div-->
            <div class="nav-info-panel">
                <div>
                    <label class="panel-title">Current Time</label>
                    <div style="clear:both">
                        <label>From:</label>
                        <span id="PeriodFrom">N/A</span>
                    </div>
                    <div style="clear:both">
                        <label>To:</label>
                        <span id="PeriodTo">N/A</span>
                    </div>
                </div>
                <div>
                    <label class="panel-title">Position</label>
                    <div style="clear:both">
                        <label>Latitude:</label>
                        <span id="currentLatitude"></span>
                    </div>
                    <div style="clear:both">
                        <label>Longitude:</label>
                        <span id="currentLongitude"></span>
                    </div>
                    <div style="clear:both">
                        <label>District:</label>
                        <span id="currentDistrict"></span>
                    </div>
                </div>
            </div>
        </jqx-splitter-panel>
        <jqx-splitter-panel>
            <!-- Right map panel-->
            <div id="googleMap" style="width:100%;height:100%"></div>
        </jqx-splitter-panel>
    </jqx-splitter>
    <jqx-window auto-open="false" instance="getDownloadWindowInstance()">
        <jqx-window-header>Info</jqx-window-header>
        <jqx-window-body>
            <label>Open window</label>
        </jqx-window-body>
    </jqx-window>
</div>

@section scripts {
<script type="text/javascript">

    function getAbsoluteFromDateTimeInstance(instance) {
        g_viewFromDateTimeInstance = instance;
        g_absoluteFromDateTime = instance["getText"]();
    }

    function getAbsoluteToDateTimeInstance(instance) {
        g_viewToDateTimeInstance = instance;
        g_absoluteToDateTime = instance["getText"]();
    }

    $('#apply_DateTimePeriod').on('click', function (event) {
        var isHourly = $('#viewStepHourly').attr('aria-checked');
        var isDaily = $('#viewStepDaily').attr('aria-checked');
        var is5Day = $('#viewStep5Day').attr('aria-checked');

        var selectedRegion = g_viewRegionInstance['getSelectedItem']();
        var selectedProduct = g_viewProductInstance['getSelectedItem']();


        var fromDateText = g_viewFromDateTimeInstance['getText']();
        var toDateText = g_viewToDateTimeInstance['getText']()

        $('#PeriodFrom').html(fromDateText);
        $('#PeriodTo').html(toDateText);

        var map = createMapInstance("googleMap");
        displayKmls(map, fromDateText, toDateText, isHourly, selectedRegion.value, selectedProduct.value);
    });

    function GetViewFromDatetime() {
        var fromDateText = g_viewFromDateTimeInstance['getText']();
        return new Date(fromDateText);
    }

    function GetViewToDatetime() {
        var toDateText = g_viewToDateTimeInstance['getText']();
        return new Date(toDateText);
    }

    $('#PreviousStep').on('click', function (event) {
        if (hour === 0 || hour === 1) {
            hour = 23;
        }
        else {
            hour = hour -1
        }

        $('#PeriodCurrentTime').html(hour);

        var map = createMapInstance("googleMap");
        AddKmlLayer(hour, map, false);
    });

    $('#NextStep').on('click', function (event) {
        if (hour === 0 || hour === 23) {
            hour = 1;
        }
        else {
            hour = hour + 1
        }

        $('#PeriodCurrentTime').html(hour);

        var map = createMapInstance("googleMap");
        AddKmlLayer(hour, map, false);
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa4mPMDM-mSm7kKGOybaZF8OG_LnZ7M-o&callback=initMap"></script>
}