@page

<script src="~/jqwidgets/jqxbuttons.js"><</script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/jqwidgets/jqxdatatable.js"></script>
<script src="~/jqwidgets/jqxsplitter.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxpanel.js"></script>
<script src="~/jqwidgets/jqxcalendar.js"></script>
<script src="~/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/jqxinput.js"></script>
<script src="~/jqwidgets/jqxcombobox.js"></script>
<script src="~/jqwidgets/jqxcheckbox.js"></script>
<script src="~/jqwidgets/jqxswitchbutton.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxradiobutton.js"></script>
<script src="~/jqwidgets/jqxwindow.js"></script>

<script src="~/jqwidgets/jqxgrid.js"></script>
<script src="~/jqwidgets/jqxgrid.edit.js"></script>
<script src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script src="~/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/jqwidgets/jqxgrid.pager.js"></script>
<script src="~/jqwidgets/jqxgrid.aggregates.js"></script>
<script src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script src="~/jqwidgets/jqxdata.export.js"></script>
<script src="~/jqwidgets/jqxgrid.export.js"></script>
<script src="~/jqwidgets/jqxmenu.js"></script>


@using jQWidgets.AspNetCore.Mvc.TagHelpers

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    List<object> panels = new List<object>()
    {
        "{size: '270px'}",
    };
}

<div class="mainContainer">
    <jqx-splitter resizable="false" height="100%" width="100%" panels="panels" split-bar-size="2">
        <jqx-splitter-panel>
            <!-- Left operation panel-->
            <jqx-tabs height="100%">
                <jqx-tab-panel>
                    <!-- View tab-->
                    <jqx-tab-panel-header>Display</jqx-tab-panel-header>
                    <jqx-tab-panel-body>
                        <div class="nav-panel">
                            <div style="margin-top: 5px; margin-bottom:5px; margin-left: 10px">
                                <label>Date</label>
                                <div>
                                    <div style="float: left; margin-right: 5px; margin-top: 3px">
                                        <jqx-button id="apply_DateTimePeriodPre">&lt; Last </jqx-button>
                                    </div>
                                    <div style="float:left; margin-top: 2px">
                                        <jqx-date-time-input id="viewFromDatetime" animation-type="fade" width="118" height="30" show-calendar-button="true" show-time-button="false" format-string="MM/dd/yyyy" value="DateTime.UtcNow.AddDays(-1)" instance="getViewFromDateInstance()"></jqx-date-time-input>
                                    </div>
                                    <div style="float: left; margin-left: 5px; margin-top: 3px">
                                        <jqx-button id="apply_DateTimePeriodNext"> Next &gt;</jqx-button>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <label style="margin-top: 10px; display: none">TO</label>
                                <div style="display: none">
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-date-time-input id="viewToDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.UtcNow.AddHours(1)"></jqx-date-time-input>
                                    </div>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Products</label>
                                <div>
                                    <jqx-drop-down-list id="viewProduct" width="240" height="25" instance="getViewProductInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Block</label>
                                <div>
                                    <div style="float: left; margin-top: 2px; margin-right: 2px">
                                        <jqx-radio-button id="viewNWSDomainRadio" checked="true" group-name="ViewBlockOption">NWS</jqx-radio-button>
                                    </div>
                                    <div style="float: left; margin-top: 2px; margin-right: 2px">
                                        <jqx-radio-button id="viewRegionRadio" group-name="ViewBlockOption">Region</jqx-radio-button>
                                    </div>
                                    <div style="float: left; margin-top: 2px; margin-right: 2px">
                                        <jqx-radio-button id="viewCountryRadio" group-name="ViewBlockOption">Country/Area</jqx-radio-button>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <div id="viewNWSDomainPanel" style="margin-top: 10px; margin-bottom:5px;">
                                    <jqx-drop-down-list id="viewNWSDomain" width="240" height="25" instance="getViewNWSDomainInstance()"></jqx-drop-down-list>
                                </div>
                                <div id="viewRegionPanel" style="margin-top: 10px; margin-bottom:5px;">
                                    <jqx-drop-down-list id="viewRegion" width="240" height="25" instance="getViewRegionInstance()"></jqx-drop-down-list>
                                </div>
                                <div id="viewCountryPanel" style="margin-top: 10px; margin-bottom:5px;">
                                    <jqx-drop-down-list id="viewCountry" width="240" height="25" instance="getViewCountryInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Transparency</label>
                                <div>
                                    <div style="float: left">
                                        <jqx-input id="viewTransparency" width="50" height="25" value="40" max-length="2"></jqx-input>
                                    </div>
                                    <label style="float: left; margin-left: 5px; margin-top: 5px">%</label>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="applyselection">
                                <div style="float: left">
                                    <jqx-button width="240" id="apply_DateTimePeriod">Apply & Search</jqx-button>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <hr class="seperator" />
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Image Format</label>
                                <div class="clearall"></div>
                                <div style="float: left; margin-top:2px">
                                    <jqx-drop-down-list id="downloadImageFormat" width="150" height="25" instance="getImageTypeInstance()"></jqx-drop-down-list>
                                </div>
                                <div style="float: left; margin-left: 10px;">
                                    <jqx-button id="view_DownloadCurrent">Download</jqx-button>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <hr class="seperator" />
                        </div>
                        <div class="nav-info-panel">
                            <div>
                                <label class="panel-title">Latest data on</label>
                                <div style="clear:both; margin-bottom: 8px">
                                    <span id="PeriodFrom">N/A</span>
                                </div>
                            </div>
                            <div>
                                <label class="panel-title">Position</label>
                                <div style="clear:both">
                                    <label>Latitude:  </label>
                                    <span id="currentLatitude"></span>
                                </div>
                                <div style="clear:both">
                                    <label>Longitude:</label>
                                    <span id="currentLongitude"></span>
                                </div>
                            </div>
                        </div>
                    </jqx-tab-panel-body>
                </jqx-tab-panel>
                <jqx-tab-panel>
                    <!-- Download tab-->
                    <jqx-tab-panel-header>Download</jqx-tab-panel-header>
                    <jqx-tab-panel-body>
                        <div class="nav-panel">
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>From</label>
                                <div>
                                    <div style="float:left; margin-top: 2px">
                                        <jqx-date-time-input id="downloadFromDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="false" format-string="MM/dd/yyyy" value="DateTime.UtcNow.AddDays(-1)" instance="getDownloadFromDateInstance()"></jqx-date-time-input>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <label style="margin-top: 10px">TO</label>
                                <div>
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-date-time-input id="downloadToDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="false" format-string="MM/dd/yyyy" value="DateTime.Now" instance="getDownloadToDateInstance()"></jqx-date-time-input>
                                    </div>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Products</label>
                                <div>
                                    <jqx-drop-down-list id="downloadProduct" width="240" height="25" instance="getDownloadProductInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Block</label>
                                <div>
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-radio-button id="downloadByRegion" group-name="DownloadOption">Region</jqx-radio-button>
                                    </div>
                                    <div style="float: left; margin-top: 2px; margin-left:6px">
                                        <jqx-radio-button id="downloadByCoordinate" group-name="DownloadOption" checked="true">Coordinate</jqx-radio-button>
                                    </div>
                                    <div class="clearall"></div>
                                    <div id="downloadRegionPanel" style="margin-top: 10px">
                                        <jqx-drop-down-list id="downloadRegion" width="240" height="25" instance="getDownloadRegionInstance()"></jqx-drop-down-list>
                                    </div>
                                    <div id="downloadCoordinatePanel" style="margin-top: 10px">
                                        <div>
                                            <span style="float: left; margin-top: 4px; margin-left:56px">North</span>
                                            <div style="float: left; margin-left: 3px">
                                                <jqx-input id="downloadCoordinateNorth" width="50" height="25" value="90" min-length="2" max-length="8"></jqx-input>
                                            </div>
                                            <div class="clearall"></div>
                                        </div>
                                        <div style="margin-top: 3px">
                                            <span style="float: left; margin-top: 6px">West</span>
                                            <div style="float: left; margin-top: 2px; margin-left: 3px">
                                                <jqx-input id="downloadCoordinateWest" width="50" height="25" value="-180" min-length="2" max-length="8"></jqx-input>
                                            </div>

                                            <div style="float: left;margin-top: 2px; margin-left: 68px">
                                                <jqx-input id="downloadCoordinateEast" width="50" height="25" value="180" min-length="2" max-length="8"></jqx-input>
                                            </div>
                                            <span style="float: left; margin-top: 6px; margin-left: 3px">East</span>
                                            <div class="clearall"></div>
                                        </div>
                                        <div style="margin-top: 3px">
                                            <span style="float: left; margin-top: 6px; margin-left:53px">South</span>
                                            <div style="float: left; margin-top: 2px;margin-left: 3px">
                                                <jqx-input id="downloadCoordinateSouth" width="50" height="25" value="-90" min-length="2" max-length="8"></jqx-input>
                                            </div>
                                            <div class="clearall"></div>
                                        </div>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Image Format</label>
                                <div>
                                    <jqx-drop-down-list id="downloadImageFormat2" width="240" height="25" instance="getDownloadImageTypeInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 30px; margin-left: 10px">
                                <jqx-button id="download_SearchAndDownload" width="240">Schedule Download Task</jqx-button>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:10px; margin-left: 10px">
                                   <div style="clear:both; margin-bottom: 8px">
                                    <label>Name: </label>
                                    <span id="downloadTaskName">None</span>
                                </div>
                                   <div style="clear:both; margin-bottom: 8px">
                                       <label>Status: </label>
                                       <span style="margin-right: 10px" id="downloadTaskStatus">None</span>
                                       <jqx-button id="download_RefreshStatus" width="60">Refresh</jqx-button>
                                   </div>
                                <div style="clear:both; margin-bottom: 8px">
                                    <label>Path: </label>
                                    <span id="downloadTaskPath"><a href="ftp://jpssflood.gmu.edu/" target="_blank">ftp://jpssflood.gmu.edu/</a></span>
                                </div>
                                <div class="clearall"></div>
                            </div>
                        </div>
                    </jqx-tab-panel-body>
                </jqx-tab-panel>
            </jqx-tabs>
            <!-- Left bottom informational div-->
        </jqx-splitter-panel>
        <jqx-splitter-panel>
            <!-- Right map panel-->
            <div id="googleMap" style="width:100%;height:100%"></div>
            <div id="mapLegend" style="position:absolute;left:2px;bottom:3px;z-index:100;">
                <img style="width:50%;height:50%" src="~/images/Waterfractionlegend_all_Nodata_sentencecase_small.png" />
            </div>
        </jqx-splitter-panel>
    </jqx-splitter>
    <jqx-window auto-open="false" width="auto" resizable="false" instance="getDownloadWindowInstance()">
        <jqx-window-header>Download Images</jqx-window-header>
        <jqx-window-body>
            <div style="margin-bottom: 6px">
                <span>Download GEO image by click the links in the table or schedule a download task to download all of them in a package.</span>
            </div>
            <jqx-grid id="grid" alt-rows="true" pageable="true" height="360" source-id="Index" sortable="false" width="800" instance="getGridInstance()">
                <jqx-grid-columns>
                    <jqx-grid-column width="50" text="Index" datafield="Index"></jqx-grid-column>
                    <jqx-grid-column width="650" text="Resource Name" datafield="Address"></jqx-grid-column>
                    <jqx-grid-column width="80" text="Link" datafield="Link"></jqx-grid-column>
                </jqx-grid-columns>
            </jqx-grid>
            <div style="margin-top: 6px;">
                <jqx-button id="download_AllViewImages" width="190">Schedule to download all</jqx-button>
                <span>Files could be ready to download in about 10 - 15 minutes at <a href="ftp://jpssflood.gmu.edu/" target="_blank">ftp://jpssflood.gmu.edu/</a></span>
            </div>
        </jqx-window-body>
    </jqx-window>
    <jqx-window auto-open="false" width="480" height="220" resizable="false" instance="getDownloadConfirmationWindowInstance()">
        <jqx-window-header>Download</jqx-window-header>
        <jqx-window-body>
            <div style="margin-bottom: 10px">
                <span>Confirm to download with the settings or cancel to reconfigure.</span>
            </div>
            <div style="clear:both">
                <label>From:  </label>
                <span id="downloadConfirmationFrom"></span>
            </div>
            <div style="clear:both">
                <label>To:</label>
                <span id="downloadConfirmationTo"></span>
            </div>
            <div style="clear:both">
                <label>Product:</label>
                <span id="downloadConfirmationProduct"></span>
            </div>
            <div id="downloadConfirmationRegionContainer" style="clear:both">
                <label>Region:</label>
                <span id="downloadConfirmationRegion"></span>
            </div>
            <div id="downloadConfirmationCoordinateContainer" style="clear:both">
                <label>Coordinate:</label>
                <span id="downloadConfirmationCoordinate"></span>
            </div>
            <div style="clear:both">
                <label>Format:</label>
                <span id="downloadConfirmationFormat"></span>
            </div>
            <div style="margin-left: 300px; margin-top: 12px">
                <jqx-button id="download_ConfirmToSchedule" width="80">Confirm</jqx-button>
                <jqx-button id="download_CancelSchedule" width="80">Cancel</jqx-button>
            </div>
        </jqx-window-body>
    </jqx-window>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var fromDateText = getViewFromDatetimeText();
            getLatestDataDate();

            $("#downloadRegionPanel").hide();
            $("#downloadCoordinatePanel").show();
            sessionStorage.setItem("download_ByRegion", 0);

            $("#viewNWSDomainPanel").show();
            $("#viewRegionPanel").hide();
            $("#viewCountryPanel").hide();
            sessionStorage.setItem("view_ByRegion", 1);

            sessionStorage.setItem("navigation_kmlloaded", 0);

            var taskName = sessionStorage.getItem("download_taskname");
            if (taskName !== null) {
                $('#downloadTaskName').html(taskName);
            }
            var taskStatus = sessionStorage.getItem("download_taskstatus");
            if (taskStatus !== null) {
                $('#downloadTaskStatus').html(taskStatus);
            }
        });
    
        function getGridInstance(instance) {
            g_downloadGridInstance = instance;
        }

        function getViewFromDateInstance(instance) {
            g_ViewFromDateInstance = instance;
        }

        $('#view_DownloadCurrent').on('click', function (event) {
            g_downloadGridInstance['clear']();

            var selectedRegion = getSelectedViewRegion();
            var selectedProduct = getSelectedViewProduct();
            var fromDateText = getViewFromDatetimeText();
            var toDateText = getViewToDatetimeText();
            var imageFormat = getDownloadImageFormat();

            var north = sessionStorage.getItem("bounds_north");
            var east = sessionStorage.getItem("bounds_east");
            var south = sessionStorage.getItem("bounds_south");
            var west = sessionStorage.getItem("bounds_west");
            var zoom = sessionStorage.getItem("navigation_zoom");

            getKmlFiles(fromDateText, toDateText, selectedRegion, selectedProduct, imageFormat, g_downloadGridInstance, north, south, west, east, zoom);

            g_downloadWindowInstance['open']();
        });

        $('#download_AllViewImages').on('click', function (event) {
            var selectedRegion = getSelectedViewRegion();
            var selectedProduct = getSelectedViewProduct();
            var fromDateText = getViewFromDatetimeText();
            var toDateText = getViewToDatetimeText();
            var imageFormat = getDownloadImageFormat();

            var north = sessionStorage.getItem("bounds_north");
            var east = sessionStorage.getItem("bounds_east");
            var south = sessionStorage.getItem("bounds_south");
            var west = sessionStorage.getItem("bounds_west");

            GenerateDownloadTask(fromDateText, toDateText, selectedRegion, selectedProduct, imageFormat, north, south, west, east);
        });

        $('#apply_DateTimePeriod').on('click', function (event) {
            var selectedRegion = getSelectedViewRegion();
            var selectedProduct = getSelectedViewProduct();
            var fromDateText = getViewFromDatetimeText();
            var toDateText = getViewToDatetimeText();
            var currentTrans = getViewTransparency();

            var lat = sessionStorage.getItem("navigation_center_lat");
            var lng = sessionStorage.getItem("navigation_center_lng");
            var zoom = sessionStorage.getItem("navigation_zoom");

            var previous_selectedProduct = sessionStorage.getItem("view_SelectedProduct");
            var previous_selectedRegion = sessionStorage.getItem("view_SelectedRegion");

            var viewByRegion = sessionStorage.getItem("view_ByRegion");
            if(viewByRegion == 1) {
                selectedRegion = getSelectedViewNWSDomain();
            }
            if (viewByRegion == 2) {
                selectedRegion = getSelectedViewRegion();
            }
            if (viewByRegion == 3) {
                selectedRegion = getSelectedViewCountry();
            }

            var map;
            if((previous_selectedProduct != selectedProduct) || (previous_selectedRegion != selectedRegion))
            {
                map = createMapInstance("googleMap", parseInt(currentTrans), null, null, null);
            }
            else
            {
                map = createMapInstance("googleMap", parseInt(currentTrans), lat, lng, zoom);
            }

            sessionStorage.setItem("view_SelectedProduct", selectedProduct);
            sessionStorage.setItem("view_SelectedRegion", selectedRegion);

            displayKmls(map, fromDateText, toDateText, selectedRegion, selectedProduct);
        });

        $('#apply_DateTimePeriodPre').on('click', function (event) {
            var viewFromDatetime = getViewFromDatetime();
            viewFromDatetime.setDate(viewFromDatetime.getDate() - 1);

            $('#viewFromDatetime').attr('aria-valuetext', viewFromDatetime.toDateString());
            g_ViewFromDateInstance['val'](viewFromDatetime);
        });

        $('#apply_DateTimePeriodNext').on('click', function (event) {
            var viewFromDatetime = getViewFromDatetime();
            viewFromDatetime.setDate(viewFromDatetime.getDate() + 1);

            $('#viewFromDatetime').attr('aria-valuetext', viewFromDatetime.toDateString());
            g_ViewFromDateInstance["val"](viewFromDatetime);
        });

        $('#downloadByRegion').on('click', function (event) {
            $("#downloadRegionPanel").show();
            $("#downloadCoordinatePanel").hide();

            sessionStorage.setItem("download_ByRegion", 1);
        }); 

        $('#downloadByCoordinate').on('click', function (event) {
            $("#downloadRegionPanel").hide();
            $("#downloadCoordinatePanel").show();
            g_downloadRegionInstance['close']();
            sessionStorage.setItem("download_ByRegion", 0);
        });

        $('#viewNWSDomainRadio').on('click', function (event) {
            $("#viewNWSDomainPanel").show();
            $("#viewRegionPanel").hide();
            $("#viewCountryPanel").hide();

            g_viewRegionInstance['close']();
            g_viewCountryInstance['close']();

            sessionStorage.setItem("view_ByRegion", 1);
        });

        $('#viewRegionRadio').on('click', function (event) {
            $("#viewNWSDomainPanel").hide();
            $("#viewRegionPanel").show();
            $("#viewCountryPanel").hide();

            g_viewNWSDomainInstance['close']();
            g_viewCountryInstance['close']();

            sessionStorage.setItem("view_ByRegion", 2);
        });

        $('#viewCountryRadio').on('click', function (event) {
            $("#viewNWSDomainPanel").hide();
            $("#viewRegionPanel").hide();
            $("#viewCountryPanel").show();

            g_viewNWSDomainInstance['close']();
            g_viewRegionInstance['close']();

            sessionStorage.setItem("view_ByRegion", 3);
        });

        $('#download_SearchAndDownload').on('click', function (event) {
            var selectedRegion = getSelectedDownloadRegion();
            var selectedProduct = getSelectedDownloadProduct();
            var fromDateText = getdownloadFromDatetimeText();
            var toDateText = getdownloadToDatetimeText();
            var imageFormat = getDownloadImageFormat2();
            var north = getDownloadCoordinateNorth();
            var south = getDownloadCoordinateSouth();
            var west = getDownloadCoordinateWest();
            var east = getDownloadCoordinateEast();

            $('#downloadConfirmationFrom').html(fromDateText);
            $('#downloadConfirmationTo').html(toDateText);
            $('#downloadConfirmationProduct').html(selectedProduct);

            var downloadByRegion = sessionStorage.getItem("download_ByRegion");
            if (downloadByRegion == 1) {
                $('#downloadConfirmationRegionContainer').show();
                $('#downloadConfirmationCoordinateContainer').hide();
                $('#downloadConfirmationRegion').html(selectedRegion);
            }
            else {
                var coordinateString = "north(" + north + "), " + "south(" + south + "), " + "west(" + west + "), " + "east(" + east + ")"; 
                $('#downloadConfirmationRegionContainer').hide();
                $('#downloadConfirmationCoordinateContainer').show();
                $('#downloadConfirmationCoordinate').html(coordinateString);
            }
            $('#downloadConfirmationFormat').html(imageFormat);

            g_downloadConfirmationWindowInstance['open']();
        });

        $('#download_RefreshStatus').on('click', function (event) {
            var taskName = $('#downloadTaskName').html();
            if (taskName !== 'None') {
                GetDownloadTaskStatus(taskName);
            }
        });

        $('#download_ConfirmToSchedule').on('click', function (event) {
            var selectedRegion = getSelectedDownloadRegion();
            var selectedProduct = getSelectedDownloadProduct();
            var fromDateText = getdownloadFromDatetimeText();
            var toDateText = getdownloadToDatetimeText();
            var imageFormat = getDownloadImageFormat2();
            var north = getDownloadCoordinateNorth();
            var south = getDownloadCoordinateSouth();
            var west = getDownloadCoordinateWest();
            var east = getDownloadCoordinateEast();

            var downloadByRegion = sessionStorage.getItem("download_ByRegion");
            if (downloadByRegion == 1) {
                north = -1000;
                south = -1000;
                west = -1000;
                east = -1000;
            }

            GenerateDownloadTask(fromDateText, toDateText, selectedRegion, selectedProduct, imageFormat, north, south, west, east);

            g_downloadConfirmationWindowInstance['close']();
        });

        $('#download_CancelSchedule').on('click', function (event) {
            g_downloadConfirmationWindowInstance['close']();
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Ek2b2pRf55xM2sLnLoRuyft3TYj2Hlk&callback=initMap"></script>
}