@page

<script src="~/jqwidgets/jqxbuttons.js"><</script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/jqwidgets/jqxdatatable.js"></script>
<script src="~/jqwidgets/jqxNavigationBar.js"></script>
<script src="~/jqwidgets/jqxsplitter.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxpanel.js"></script>
<script src="~/jqwidgets/jqxcalendar.js"></script>
<script src="~/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/jqxinput.js"></script>
<script src="~/jqwidgets/jqxcombobox.js"></script>
<script src="~/jqwidgets/jqxcheckbox.js"></script>
<script src="~/jqwidgets/jqxswitchbutton.js"></script>

@using jQWidgets.AspNetCore.Mvc.TagHelpers

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    List<object> panels = new List<object>()
    {
        "{size: '270px'}",
    };
}

<div class="mainContainer">
    <jqx-splitter resizable="false" height="100%" width="100%" panels="panels" split-bar-size="2">
        <jqx-splitter-panel>
            <!-- Left navigation panel-->
            <div class="nav-panel">
                <div>
                    <label>From</label>
                    <div>
                        <div style="float:left; margin-top: 2px">
                            <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now" instance="getAbsoluteFromDateTimeInstance()"></jqx-date-time-input>
                        </div>
                        <div class="clearall"></div>
                    </div>
                    <label style="margin-top: 10px">TO</label>
                    <div>
                        <div style="float: left; margin-top: 2px">
                            <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now.AddMinutes(5)" instance="getAbsoluteToDateTimeInstance()"></jqx-date-time-input>
                        </div>
                    </div>
                    <div class="clearall"></div>
                </div>
                <div class="clearall"></div>
                <hr class="seperator" />
                <div class="applyselection">
                    <jqx-button id="apply_DateTimePeriod">Apply Date&Time Selection</jqx-button>
                </div>
            </div>
            <div class="nav-panel">
                <label>Standard</label>
                <div>
                    <div style="float: left; margin-top: 2px">
                        <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now.AddMinutes(5)"></jqx-date-time-input>
                    </div>
                </div>
                <label style="margin-top: 10px">Range and Direction</label>
                <div>
                    <div style="float:left">
                        <jqx-input width="50" height="25" value="24"></jqx-input>
                    </div>
                    <div style="float:left; margin-left:8px">
                        <jqx-drop-down-list width="70" height="25" instance="getStepInstance()"></jqx-drop-down-list>
                    </div>
                    <div style="float:left; margin-left:8px">
                        <jqx-drop-down-list width="70" height="25" instance="getDirectionInstance()"></jqx-drop-down-list>
                    </div>
                </div>
                <div style="clear:both"></div>
                <label style="margin-top: 10px">Every:</label>
                <div>
                    <div style="float:left">
                        <jqx-input width="50" height="25" value="1"></jqx-input>
                    </div>
                    <div style="float:left; margin-left:8px">
                        <jqx-drop-down-list width="70" height="25" instance="getStepInstance2()"></jqx-drop-down-list>
                    </div>
                </div>
                <div class="clearall"></div>
                <hr class="seperator" />
                <div class="applyselection">
                    <jqx-button id="apply_DateTimePeriod_2">Apply Date&Time Selection</jqx-button>
                </div>
            </div>
            <!--
    <jqx-navigation-bar animation-type="fade" height="320">
        <jqx-navigation-bar-panel>
            <jqx-navigation-bar-panel-header>Absolute Date and Time (UTC)</jqx-navigation-bar-panel-header>
            <jqx-navigation-bar-panel-body>
                panel1
            </jqx-navigation-bar-panel-body>
            </jqx-navigation-bar-panel>
            <jqx-navigation-bar-panel>
                <jqx-navigation-bar-panel-header>Relative Date and Time (UTC)</jqx-navigation-bar-panel-header>
                <jqx-navigation-bar-panel-body>
                    panel2
            </jqx-navigation-bar-panel-body>
            </jqx-navigation-bar-panel>
            </jqx-navigation-bar>
            -->
            <!-- Left bottom informational div-->
            <div class="nav-info-panel">
                <div>
                    <label class="panel-title">Position</label>
                    <div style="clear:both">
                        <label>Latitude:</label>
                        <span id="currentLatitude"></span>
                    </div>
                    <div style="clear:both">
                        <label>Longitude:</label>
                        <span id="currentLongitude"></span>
                    </div>
                    <div style="clear:both">
                        <label>District:</label>
                        <span id="currentDistrict"></span>
                    </div>
                </div>
                <div style="margin-top: 28px;">
                    <label class="panel-title">Selected Date&Time</label>
                    <div style="clear:both">
                        <label>From:</label>
                        <span id="PeriodFrom"></span>
                    </div>
                    <div style="clear:both">
                        <label>To:</label>
                        <span id="PeriodTo"></span>
                    </div>
                    <div>
                        <label>Hour:</label>
                        <span style="width:40px" id="PeriodCurrentTime"></span>
                        <jqx-button width="30" id="PreviousStep"><</jqx-button>
                        <jqx-button width="30" id="NextStep">></jqx-button>
                    </div>
                </div>
                <div>
                    <div class="regions-panel">
                        <label class="panel-title">Regions</label>
                        <div>
                            <div class="regions-panel-item">
                                <label class="region-switch-label">East Asia</label>
                                <jqx-switch-button id="region_eastasia" checked="false" on-label="Show" off-label="Hide" height="22" thumb-size="33%"></jqx-switch-button>
                            </div>
                            <div class="regions-panel-item">
                                <label class="region-switch-label">Europe</label>
                                <jqx-switch-button id="region_Europ" checked="false" on-label="Show" off-label="Hide" height="22" thumb-size="33%"></jqx-switch-button>
                            </div>
                            <div class="regions-panel-item">
                                <label class="region-switch-label">North America</label>
                                <jqx-switch-button id="region_northamerica" checked="true" on-label="Show" off-label="Hide" height="22" thumb-size="33%"></jqx-switch-button>
                            </div>
                            <div class="regions-panel-item">
                                <label class="region-switch-label">South America</label>
                                <jqx-switch-button id="region_sourceamerica" checked="false" on-label="Show" off-label="Hide" height="22" thumb-size="33%"></jqx-switch-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </jqx-splitter-panel>
        <jqx-splitter-panel>
            <!-- Right map panel-->
            <div id="googleMap" style="width:100%;height:100%"></div>
        </jqx-splitter-panel>
    </jqx-splitter>
</div>

@section scripts {
<script>
    function getAbsoluteFromDateTimeInstance(instance) {
        g_absoluteFromDateTime = instance["getText"]();
    }

    function getAbsoluteToDateTimeInstance(instance) {
        g_absoluteToDateTime = instance["getText"]();
    }

    $('#apply_DateTimePeriod').on('click', function (event) {

        $('#PeriodFrom').html(g_absoluteFromDateTime);
        $('#PeriodTo').html(g_absoluteToDateTime);

        var fromDateTime = new Date(g_absoluteFromDateTime);
        hour = fromDateTime.getHours();
        $('#PeriodCurrentTime').html(hour);

        var map = createMapInstance("googleMap");

        displayDailyKmls(map);
    });

    $('#apply_DateTimePeriod_2').on('click', function (event) {
        alert("not implemented.")
    });

    $('#PreviousStep').on('click', function (event) {
        if (hour === 0 || hour === 1) {
            hour = 23;
        }
        else {
            hour = hour -1
        }

        $('#PeriodCurrentTime').html(hour);

        var map = createMapInstance("googleMap");
        AddKmlLayer(hour, map, false);
    });

    $('#NextStep').on('click', function (event) {
        if (hour === 0 || hour === 23) {
            hour = 1;
        }
        else {
            hour = hour + 1
        }

        $('#PeriodCurrentTime').html(hour);

        var map = createMapInstance("googleMap");
        AddKmlLayer(hour, map, false);
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa4mPMDM-mSm7kKGOybaZF8OG_LnZ7M-o&callback=initMap"></script>
}