@page

<script src="~/jqwidgets/jqxbuttons.js"><</script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>
<script src="~/jqwidgets/jqxlistbox.js"></script>
<script src="~/jqwidgets/jqxdropdownlist.js"></script>
<script src="~/jqwidgets/jqxdatatable.js"></script>
<script src="~/jqwidgets/jqxsplitter.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxpanel.js"></script>
<script src="~/jqwidgets/jqxcalendar.js"></script>
<script src="~/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/jqwidgets/globalization/globalize.js"></script>
<script src="~/jqwidgets/jqxinput.js"></script>
<script src="~/jqwidgets/jqxcombobox.js"></script>
<script src="~/jqwidgets/jqxcheckbox.js"></script>
<script src="~/jqwidgets/jqxswitchbutton.js"></script>
<script src="~/jqwidgets/jqxtabs.js"></script>
<script src="~/jqwidgets/jqxradiobutton.js"></script>
<script src="~/jqwidgets/jqxwindow.js"></script>

<script src="~/jqwidgets/jqxgrid.js"></script>
<script src="~/jqwidgets/jqxgrid.edit.js"></script>
<script src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
<script src="~/jqwidgets/jqxgrid.filter.js"></script>
<script src="~/jqwidgets/jqxgrid.selection.js"></script>
<script src="~/jqwidgets/jqxgrid.sort.js"></script>
<script src="~/jqwidgets/jqxgrid.pager.js"></script>
<script src="~/jqwidgets/jqxgrid.aggregates.js"></script>
<script src="~/jqwidgets/jqxgrid.grouping.js"></script>
<script src="~/jqwidgets/jqxdata.export.js"></script>
<script src="~/jqwidgets/jqxgrid.export.js"></script>
<script src="~/jqwidgets/jqxmenu.js"></script>


@using jQWidgets.AspNetCore.Mvc.TagHelpers

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    List<object> panels = new List<object>()
    {
        "{size: '270px'}",
    };
}

<div class="mainContainer">
    <jqx-splitter resizable="false" height="100%" width="100%" panels="panels" split-bar-size="2">
        <jqx-splitter-panel>
            <!-- Left operation panel-->
            <jqx-tabs height="100%">
                <jqx-tab-panel>
                    <!-- View tab-->
                    <jqx-tab-panel-header>Display</jqx-tab-panel-header>
                    <jqx-tab-panel-body>
                        <div class="nav-panel">
                            <div style="margin-top: 5px; margin-bottom:5px; margin-left: 10px">
                                <div style="float:left; margin-top: 2px; display:none">
                                    <jqx-radio-button id="viewStepHourly" group-name="ViewStep">Hourly</jqx-radio-button>
                                </div>
                                <div style="float:left; margin-top: 2px; margin-left: 8px">
                                    <jqx-radio-button id="viewStepDaily" group-name="ViewStep" checked="true">Daily</jqx-radio-button>
                                </div>
                                <div style="float:left; margin-top: 2px; margin-left: 8px">
                                    <jqx-radio-button id="viewStep5Day" group-name="ViewStep">5-Day</jqx-radio-button>
                                </div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>From</label>
                                <div>
                                    <div style="float:left; margin-top: 2px">
                                        <jqx-date-time-input id="viewFromDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.UtcNow"></jqx-date-time-input>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <label style="margin-top: 10px">TO</label>
                                <div>
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-date-time-input id="viewToDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.UtcNow.AddHours(1)"></jqx-date-time-input>
                                    </div>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Region</label>
                                <div>
                                    <jqx-drop-down-list id="viewRegion" width="240" height="25" instance="getViewRegionInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Products</label>
                                <div>
                                    <jqx-drop-down-list id="viewProduct" width="240" height="25" instance="getViewProductInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Transparency</label>
                                <div>
                                    <div style="float: left">
                                        <jqx-input id="viewTransparency" width="50" height="25" value="50" max-length="2"></jqx-input>
                                    </div>
                                    <label style="float: left; margin-left: 5px; margin-top: 5px">%</label>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="applyselection">
                                <div style="float: left">
                                    <jqx-button id="apply_DateTimePeriod">Apply & Search</jqx-button>
                                </div>
                                <div style="float: left; margin-left: 12px">
                                    <jqx-button id="apply_DateTimePeriodPre">Prev</jqx-button>
                                </div>
                                <div style="float: left; margin-left: 12px">
                                    <jqx-button id="apply_DateTimePeriodNext">Next</jqx-button>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <hr class="seperator" />
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Image Format</label>
                                <div style="float: left; margin-top:2px">
                                    <jqx-drop-down-list id="downloadImageFormat" width="160" height="25" instance="getImageTypeInstance()"></jqx-drop-down-list>
                                </div>
                                <div style="float: left; margin-left: 10px;">
                                    <jqx-button id="view_DownloadCurrent">Download</jqx-button>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <hr class="seperator" />
                        </div>
                        <div class="nav-info-panel">
                            <div>
                                <label class="panel-title">Date and Time</label>
                                <div style="clear:both">
                                    <span id="PeriodFrom">N/A</span>
                                </div>
                                <div style="clear:both; margin-top: 8px">
                                    <!--
                                    <label>To:</label>
                                    <span id="PeriodTo">N/A</span>
                                        -->
                                </div>
                            </div>
                            <div>
                                <label class="panel-title">Position</label>
                                <div style="clear:both">
                                    <label>Latitude:</label>
                                    <span id="currentLatitude"></span>
                                </div>
                                <div style="clear:both">
                                    <label>Longitude:</label>
                                    <span id="currentLongitude"></span>
                                </div>
                                <div style="clear:both">
                                    <label>Region:</label>
                                    <span id="currentRegion"></span>
                                </div>
                            </div>
                        </div>
                    </jqx-tab-panel-body>
                </jqx-tab-panel>
                <jqx-tab-panel>
                    <!-- Download tab-->
                    <jqx-tab-panel-header>Download</jqx-tab-panel-header>
                    <jqx-tab-panel-body>
                        <div class="nav-panel">
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>From</label>
                                <div>
                                    <div style="float:left; margin-top: 2px">
                                        <jqx-date-time-input id="downloadFromDatetime" animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.UtcNow"></jqx-date-time-input>
                                    </div>
                                    <div class="clearall"></div>
                                </div>
                                <label style="margin-top: 10px">TO</label>
                                <div>
                                    <div style="float: left; margin-top: 2px">
                                        <jqx-date-time-input animation-type="fade" width="240" height="30" show-calendar-button="true" show-time-button="true" format-string="MM/dd/yyyy HH:mm:ss" value="DateTime.Now.AddMinutes(5)"></jqx-date-time-input>
                                    </div>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Region</label>
                                <div>
                                    <jqx-drop-down-list id="downloadRegion" width="240" height="25" instance="getViewRegionInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div class="clearall"></div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Products</label>
                                <div>
                                    <jqx-drop-down-list id="downloadProduct" width="240" height="25" instance="getViewProductInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 10px; margin-bottom:5px; margin-left: 10px">
                                <label>Image Format</label>
                                <div>
                                    <jqx-drop-down-list width="240" height="25" instance="getImageTypeInstance()"></jqx-drop-down-list>
                                </div>
                                <div class="clearall"></div>
                            </div>
                            <div style="margin-top: 30px; margin-left: 55px;">
                                <jqx-button id="download_SearchAndDownload">Search & Download</jqx-button>
                            </div>
                        </div>
                    </jqx-tab-panel-body>
                </jqx-tab-panel>
            </jqx-tabs>
            <!-- Left bottom informational div-->
        </jqx-splitter-panel>
        <jqx-splitter-panel>
            <!-- Right map panel-->
            <div id="googleMap" style="width:100%;height:100%"></div>
        </jqx-splitter-panel>
    </jqx-splitter>
    <jqx-window auto-open="false" width="auto" resizable="false" instance="getDownloadWindowInstance()">
        <jqx-window-header>Image Resource</jqx-window-header>
        <jqx-window-body>
            <jqx-grid id="grid" alt-rows="true" pageable="true" height="240" source-id="Index" sortable="false" width="800" instance="getGridInstance()">
                <jqx-grid-columns>
                    <jqx-grid-column width="50" text="Index" datafield="Index"></jqx-grid-column>
                    <jqx-grid-column width="650" text="Resource Name" datafield="Address"></jqx-grid-column>
                    <jqx-grid-column width="80" text="Link" datafield="Link"></jqx-grid-column>
                </jqx-grid-columns>
            </jqx-grid>
        </jqx-window-body>
    </jqx-window>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var fromDateText = getViewFromDatetimeText();
            $('#PeriodFrom').html(fromDateText);
            var toDateText = getViewToDatetimeText();
            $('#PeriodTo').html(toDateText);
        });
        
        function getGridInstance(instance) {
            g_downloadGridInstance = instance;
        }

        $('#view_DownloadCurrent').on('click', function (event) {
            g_downloadGridInstance['clear']();

            var viewStep = getSelectedViewStep();
            var selectedRegion = getSelectedViewRegion();
            var selectedProduct = getSelectedViewProduct();
            var fromDateText = getViewFromDatetimeText();
            var toDateText = getViewToDatetimeText();
            var imageFormat = getDownloadImageFormat();

            getKmlFiles(fromDateText, toDateText, viewStep, selectedRegion, selectedProduct, imageFormat, g_downloadGridInstance);

        g_downloadWindowInstance['open']();
    });

    $('#apply_DateTimePeriod').on('click', function (event) {
        var viewStep = getSelectedViewStep();

        var selectedRegion = getSelectedViewRegion();
        var selectedProduct = getSelectedViewProduct();
        var fromDateText = getViewFromDatetimeText();
        var toDateText = getViewToDatetimeText();
        var currentTrans = getViewTransparency();

        $('#PeriodFrom').html(fromDateText);
        $('#PeriodTo').html(toDateText);
        $("#currentRegion").html(selectedRegion);

        var map = createMapInstance("googleMap", parseInt(currentTrans));
        displayKmls(map, fromDateText, toDateText, viewStep, selectedRegion, selectedProduct);
        /*
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_2.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_3.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_4.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_190000_5.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_180000_6.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_160000_8.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_180000_7.kml');
        //displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_230000_9.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_230000_10.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_11.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_12.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_180000_13.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_180000_14.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_160000_15.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_160000_16.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_17.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_190000_18.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_190000_19.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_180000_20.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_160000_21.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_210000_22.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_190000_23.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_190000_24.kml');
        displayKmlLayer(map, 'https://jpssflood.gmu.edu/kmls/VIIRS/cspp-viirs-flood-globally_20180815_170000_25.kml');
        */
    });

    $('#apply_DateTimePeriodPre').on('click', function (event) {
        var viewStep = getSelectedViewStep();

        var viewFromDatetime = getViewFromDatetime();
        var viewToDatetime = getViewToDatetime();

        var currentFromDateTime = new Date($('#PeriodFrom').html());
        var currentToDateTime = new Date($('#PeriodTo').html());

        var selectedRegion = getSelectedViewRegion();
        var selectedProduct = getSelectedViewProduct();

        if (viewStep === 1) {
            currentFromDateTime.setHours(currentFromDateTime.getHours() - 1);
            if (currentFromDateTime < viewFromDatetime) {
                alert('No previouse data!');
                return;
            }
            else {
                currentToDateTime.setHours(currentToDateTime.getHours() - 1);
            }
        }
        else if (viewStep === 2) {
            currentFromDateTime.setDate(currentFromDateTime.getDate() - 1);
            if (currentFromDateTime < viewFromDatetime) {
                alert('No previouse data!');
                return;
            }
            else {
                currentToDateTime.setDate(currentToDateTime.getDate() - 1);
            }
        }
        else {
            currentFromDateTime.setDate(currentFromDateTime.getDate() - 5);
            if (currentFromDateTime < viewFromDatetime) {
                alert('No previouse data!');
                return;
            }
            else {
                currentToDateTime.setDate(currentToDateTime.getDate() - 5);
            }
        }

        $('#PeriodFrom').html(formatDate(currentFromDateTime));
    });

    $('#apply_DateTimePeriodNext').on('click', function (event) {
        var viewStep = getSelectedViewStep();

        var viewFromDatetime = getViewFromDatetime();
        var viewToDatetime = getViewToDatetime();

        var currentFromDateTime = new Date($('#PeriodFrom').html());
        var currentToDateTime = new Date($('#PeriodTo').html());

        var selectedRegion = getSelectedViewRegion();
        var selectedProduct = getSelectedViewProduct();

        if (viewStep === 1) {
            currentFromDateTime.setHours(currentFromDateTime.getHours() + 1);
            if (currentFromDateTime > viewToDatetime) {
                alert('No forward data!');
                return;
            }
            else {
                currentToDateTime.setHours(currentToDateTime.getHours() + 1);
            }
        }
        else if (viewStep === 2) {
            currentFromDateTime.setDate(currentFromDateTime.getDate() + 1);
            if (currentFromDateTime > viewToDatetime) {
                alert('No forward data!');
                return;
            }
            else {
                currentToDateTime.setDate(currentToDateTime.getDate() + 1);
            }
        }
        else {
            currentFromDateTime.setDate(currentFromDateTime.getDate() + 5);
            if (currentFromDateTime > viewToDatetime) {
                alert('No forward data!');
                return;
            }
            else {
                currentToDateTime.setDate(currentToDateTime.getDate() + 5);
            }
        }

        $('#PeriodFrom').html(formatDate(currentFromDateTime));
    });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXVemTzeOvkKbvJFWi60hkwaIwD37s1LA&callback=initMap"></script>
}