body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.body-container {
    height: 100%;
    padding: 50px 0 0 0;
    position: relative;
}

.mainContainer {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.nav-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-info-panel {
    margin-left: 5px;
    margin-top: 10px;
    /*overflow-y: scroll;*/
}

.clearall {
    clear: both;
}

.applyselection {
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
}

.regions-panel {
    margin-top: 28px;
    margin-bottom: 10px;
}

.panel-title {
    font-size: 11pt;
    margin-bottom: 8px;
}

.regions-panel-item {
    margin-top: 5px;
}

.region-switch-label {
    float: left;
    width: 140px;
    margin-top: 4px;
}

hr.seperator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.panel-seperator {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
